<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <nav>
    <li><a href="/">Home</a></a></li>
    <li><a href="/prueba">Prueba</a></a></li>
    <li><a href="/destacados">Destacados</a></a></li>
    <li><a href="/nosotros">Nosotros</a></a></li>
    <li><a href="/contacto">Contacto</a></a></li>
  </nav>

</body>

</html>